@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9+Charted&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Sedan:ital@0;1&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image:linear-gradient(to right, #0cebeb, #20e3b2,#29ffc6) */
    background-image: linear-gradient(to left, #e6e9ec, #35495c);
}
.box
{
    width: 40%;
    min-height: 380px;
    margin: 140px auto;
    border: 1px solid black;
    background-color: white;
    border-radius:  15px;
    border: none;
    box-shadow: 8px 8px 9px;

}
.header {
    width: 100%;
    
}
.header h1

{
   padding-top: 30px;
    text-align: center;
    /* border: 1px solid red; */
    font-family: "Platypi", serif;
}

.form_fields
{
    width: 100%;
     min-height: 300px;
    /* border: 1px solid red; */
    padding: 15px;
}
.form_fields
{
    
    font-family: "Platypi", serif;
    margin-bottom: 10px;
    font-size: 20px;
    
}
input[type=text]
{
    width: 100%;
    /* margin-top: 20px ; */
    margin-bottom: 20px ;
    height: 50px;
    border: none;
    border-bottom: 2px solid black;
    background-image: url(../JPI/man_icon.png);
    background-repeat:no-repeat;
    padding-left: 56px;
    font-size: 16px;

}
input[type=password]
{
    width: 100%;
    /* margin-top: 20px ; */
    margin-bottom: 20px ;
    height: 60px;
    border: none;
    border-bottom: 2px solid black;
    background-image: url(../JPI/password_icon.png);
    background-repeat:no-repeat ;
    padding-left: 56px;
    font-size: 16px;
    /* border: 1px solid yellowgreen; */   
}
input[type=submit]
{
    width: 100%;
    height: 60px;
    background-color: rgb(78, 220, 217);
    font-size: 30px;
    font-weight: bold;
    font-family: "Platypi", serif;
    border: none;
    border-radius: 15px;
   margin-top: 10px;
}
input[value=login]:hover
{
    color: wheat;background-color: royalblue;
}
